<a href="https://colab.research.google.com/github/greyhound101/Orbuculum/blob/main/Sanity_check.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')
drive.mount("/content/gdrive", force_remount=True)

Mounted at /content/gdrive
Mounted at /content/gdrive

In [2]:
import pandas as pd
df=pd.read_csv('/content/gdrive/My Drive/orc/split.csv')
df

    Unnamed: 0  ...                                         validation
0           31  ...  ['class_00031/00017_00000.ppm', 'class_00031/0...
1            3  ...  ['class_00003/00023_00007.ppm', 'class_00003/0...
2            1  ...  ['class_00001/00059_00010.ppm', 'class_00001/0...
3           12  ...  ['class_00012/00038_00015.ppm', 'class_00012/0...
4           18  ...  ['class_00018/00028_00015.ppm', 'class_00018/0...
5           24  ...  ['class_00024/00005_00021.ppm', 'class_00024/0...
6           22  ...  ['class_00022/00006_00016.ppm', 'class_00022/0...
7           40  ...  ['class_00040/00002_00000.ppm', 'class_00040/0...
8           38  ...  ['class_00038/00035_00009.ppm', 'class_00038/0...
9           10  ...  ['class_00010/00061_00022.ppm', 'class_00010/0...
10           5  ...  ['class_00005/00036_00029.ppm', 'class_00005/0...
11          20  ...  ['class_00020/00002_00000.ppm', 'class_00020/0...
12          23  ...  ['class_00023/00013_00021.ppm', 'class_00023/0...
13           8  ...  ['class_00008/00034_00011.ppm', 'class_00008/0...
14          11  ...  ['class_00011/00000_00029.ppm', 'class_00011/0...
15          19  ...  ['class_00019/00001_00024.ppm', 'class_00019/0...
16          13  ...  ['class_00013/00038_00015.ppm', 'class_00013/0...
17          28  ...  ['class_00028/00003_00003.ppm', 'class_00028/0...
18           6  ...  ['class_00006/00004_00009.ppm', 'class_00006/0...
19          27  ...  ['class_00027/00000_00029.ppm', 'class_00027/0...
20          14  ...  ['class_00014/00013_00021.ppm', 'class_00014/0...
21           4  ...  ['class_00004/00016_00006.ppm', 'class_00004/0...
22          35  ...  ['class_00035/00022_00021.ppm', 'class_00035/0...
23          29  ...  ['class_00029/00000_00029.ppm', 'class_00029/0...
24          36  ...  ['class_00036/00009_00025.ppm', 'class_00036/0...
25          33  ...  ['class_00033/00021_00000.ppm', 'class_00033/0...
26          17  ...  ['class_00017/00008_00007.ppm', 'class_00017/0...
27          42  ...  ['class_00042/00002_00000.ppm', 'class_00042/0...
28          37  ...  ['class_00037/00005_00021.ppm', 'class_00037/0...
29          15  ...  ['class_00015/00013_00021.ppm', 'class_00015/0...
30          16  ...  ['class_00016/00001_00024.ppm', 'class_00016/0...
31           0  ...  ['class_00000/00004_00009.ppm', 'class_00000/0...
32          39  ...  ['class_00039/00008_00007.ppm', 'class_00039/0...
33          26  ...  ['class_00026/00012_00026.ppm', 'class_00026/0...
34           7  ...  ['class_00007/00017_00000.ppm', 'class_00007/0...
35           9  ...  ['class_00009/00002_00000.ppm', 'class_00009/0...
36          32  ...  ['class_00032/00007_00008.ppm', 'class_00032/0...
37          25  ...  ['class_00025/00004_00009.ppm', 'class_00025/0...
38          21  ...  ['class_00021/00002_00000.ppm', 'class_00021/0...
39          34  ...  ['class_00034/00004_00009.ppm', 'class_00034/0...
40          30  ...  ['class_00030/00010_00016.ppm', 'class_00030/0...
41          41  ...  ['class_00041/00002_00000.ppm', 'class_00041/0...
42           2  ...  ['class_00002/00024_00021.ppm', 'class_00002/0...

[43 rows x 4 columns]

In [3]:
def clas(a):
    ls=[]
    for i in a.split(','):
        ls.append(int(i.split('/')[0].split('_')[-1]))
    if len(list(set(ls)))!=1:
        print(set(ls))
df['validation'].apply(clas)

0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
13    None
14    None
15    None
16    None
17    None
18    None
19    None
20    None
21    None
22    None
23    None
24    None
25    None
26    None
27    None
28    None
29    None
30    None
31    None
32    None
33    None
34    None
35    None
36    None
37    None
38    None
39    None
40    None
41    None
42    None
Name: validation, dtype: object

In [4]:
df['test'].apply(clas)

0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
13    None
14    None
15    None
16    None
17    None
18    None
19    None
20    None
21    None
22    None
23    None
24    None
25    None
26    None
27    None
28    None
29    None
30    None
31    None
32    None
33    None
34    None
35    None
36    None
37    None
38    None
39    None
40    None
41    None
42    None
Name: test, dtype: object

In [5]:
df['train'].apply(clas)

0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
13    None
14    None
15    None
16    None
17    None
18    None
19    None
20    None
21    None
22    None
23    None
24    None
25    None
26    None
27    None
28    None
29    None
30    None
31    None
32    None
33    None
34    None
35    None
36    None
37    None
38    None
39    None
40    None
41    None
42    None
Name: train, dtype: object

In [6]:
def abc(a):
    ls=[]
    for i in a.split(','):
        x=int(i.split('/')[-1].split('_')[0])
        ls.append(x)
    return list(set(ls))
df['val_unq']=df['validation'].apply(abc)
df['train_unq']=df['train'].apply(abc)
df['test_unq']=df['test'].apply(abc)

In [7]:
for i in df.iterrows():
    a,b,c=set(i[1][-1]),set(i[1][-2]),set(i[1][-3])
    print(set.intersection(a,b,c))

set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()
set()